.DS_Store

.bash_history
.bash_profile
.viminfo
.tintin/*
.local
.cache

bin/tt++
bin/tt-*
bin/tmux*
!bin/tmux-ui

log/*
!log/.gitkeep
ids/*
!ids/DEFAULT
!ids/EXAMPLE

tmux/*

foo.tin
bar.tin
mwe.tin
bug.tin
test.tin
out
out[1-9]
*.out
*.old
*.bak
*.jpg
*.png

var/*
var

data/*
